:root{
    --linen: #e3dac9;
    --orange: #d93826;
    --green: #596235;
    --forest: #2f3020;
}

*{
    background: var(--linen);
    font-family: Calibri, 'Trebuchet MS', sans-serif;
    color: var(--orange);
    border-radius: 20px;
}

nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background-color: var(--linen);
    font-weight: bold;
}

button{
    background-color: var(--orange);
    Color: var(--linen);
    border-radius: 8px;
    border: 4px solid var(--green);
    margin: 20px;
}

.box{
    display: flex;
    background-color: var(--green);
    text-align: center;
    width: 50%;
    height: 300px;
    border: 8px solid var(--orange);
    padding: 20px;
    margin: 10px;
}

/* The sections fills 50% of the screen at 992px or smaller */
@media screen and (max-width: 992px) {
    section{
        display: flex;
        width: 50%;
        height: 500px;
  }
}
  
  /*The sections fills 75% of the screen at 768px or smaller */
  @media screen and (max-width: 768px) {
section{
    display: flex;
    width: 75%;
    height: 500px;
    }
  }